# Data loading and preprocessing with pandas

## Fast and easy data loading

In [1]:
import pandas as pd

In [2]:
iris_filename ='../../data/datasets-uci-iris.csv'
iris = pd.read_csv(iris_filename,sep=',',header=None,decimal='.',
                   names=['sepal_length','sepal_width','petal_length','petal_width','target'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# get the last 5 
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [4]:
# print the name of the columns
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [5]:
# The result of column is pandas index
# get a single column values
iris['target']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: target, Length: 150, dtype: object

In [6]:
# or multiple column values
iris[['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [7]:
# get the data shape (data dimensions)
iris.shape

(150, 5)

In [8]:
iris['target'].shape

(150,)

In [9]:
iris[['sepal_length','sepal_width']].shape

(150, 2)

# Dealing with problematic data.

In [10]:
# What happens when CSV has a header and some missing values and dates
fake_dataset = pd.read_csv('../../data/a_loading_example_1.csv')
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,20140910,80.0,32.0,40,1
1,20140911,100.0,50.0,36,2
2,20140912,102.0,55.0,46,1
3,20140912,60.0,20.0,35,3
4,20140914,60.0,NaN,32,3
5,20140914,NaN,57.0,42,2

In [11]:
# Autodetect date columns and load it correctly
fake_dataset = pd.read_csv('../../data/a_loading_example_1.csv',parse_dates=[0])
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,NaN,32,3
5,2014-09-14,NaN,57.0,42,2

In [12]:
# Fill missing values with a number let's say  50
# in real data this value must be realistic.
fake_dataset.fillna(50)

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,50.0,32,3
5,2014-09-14,50.0,57.0,42,2

In [13]:
# Replace with mean for the data.
# axis= 0 means row wise
# axis =1 means column wise
fake_dataset.fillna(fake_dataset.mean(axis=0),inplace=True)
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,42.8,32,3
5,2014-09-14,80.4,57.0,42,2

In [14]:
# Loading bad dataset, ignore the bad data
bad_dataset = pd.read_csv('../../data/a_loading_example_2.csv',error_bad_lines=False)
bad_dataset

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

# Dealing with big datasets

In [15]:
iris_chunks = pd.read_csv(iris_filename,header=None,names=['c1','c2','c3','c4','c5'],chunksize=10)
for chunk in iris_chunks:
    print('shape:',chunk.shape)
    print(chunk,'n')

shape: (10, 5)
    c1   c2   c3   c4           c5
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
5  5.4  3.9  1.7  0.4  Iris-setosa
6  4.6  3.4  1.4  0.3  Iris-setosa
7  5.0  3.4  1.5  0.2  Iris-setosa
8  4.4  2.9  1.4  0.2  Iris-setosa
9  4.9  3.1  1.5  0.1  Iris-setosa n
shape: (10, 5)
     c1   c2   c3   c4           c5
10  5.4  3.7  1.5  0.2  Iris-setosa
11  4.8  3.4  1.6  0.2  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
13  4.3  3.0  1.1  0.1  Iris-setosa
14  5.8  4.0  1.2  0.2  Iris-setosa
15  5.7  4.4  1.5  0.4  Iris-setosa
16  5.4  3.9  1.3  0.4  Iris-setosa
17  5.1  3.5  1.4  0.3  Iris-setosa
18  5.7  3.8  1.7  0.3  Iris-setosa
19  5.1  3.8  1.5  0.3  Iris-setosa n
shape: (10, 5)
     c1   c2   c3   c4           c5
20  5.4  3.4  1.7  0.2  Iris-setosa
21  5.1  3.7  1.5  0.4  Iris-setosa
22  4.6  3.6  1.0  0.2  Iris-setosa
23  5.1  3.3  1.7  0.5  Iris-setosa
24  4.8  3.4  1.9  0.2  Iris-setosa
25  5.0  3.0  1.6  0.2  Iris-setosa
26  5.0  3.4  1.6  0.4  Iris-setosa
27  5.2  3.5  1.5  0.2  Iris-setosa
28  5.2  3.4  1.4  0.2  Iris-setosa
29  4.7  3.2  1.6  0.2  Iris-setosa n
shape: (10, 5)
     c1   c2   c3   c4           c5
30  4.8  3.1  1.6  0.2  Iris-setosa
31  5.4  3.4  1.5  0.4  Iris-setosa
32  5.2  4.1  1.5  0.1  Iris-setosa
33  5.5  4.2  1.4  0.2  Iris-setosa
34  4.9  3.1  1.5  0.1  Iris-setosa
35  5.0  3.2  1.2  0.2  Iris-setosa
36  5.5  3.5  1.3  0.2  Iris-setosa
37  4.9  3.1  1.5  0.1  Iris-setosa
38  4.4  3.0  1.3  0.2  Iris-setosa
39  5.1  3.4  1.5  0.2  Iris-setosa n
shape: (10, 5)
     c1   c2   c3   c4           c5
40  5.0  3.5  1.3  0.3  Iris-setosa
41  4.5  2.3  1.3  0.3  Iris-setosa
42  4.4  3.2  1.3  0.2  Iris-setosa
43  5.0  3.5  1.6  0.6  Iris-setosa
44  5.1  3.8  1.9  0.4  Iris-setosa
45  4.8  3.0  1.4  0.3  Iris-setosa
46  5.1  3.8  1.6  0.2  Iris-setosa
47  4.6  3.2  1.4  0.2  Iris-setosa
48  5.3  3.7  1.5  0.2  Iris-setosa
49  5.0  3.3  1.4  0.2  Iris-setosa n
shape: (10, 5)
     c1   c2   c3   c4               c5
50  7.0  3.2  4.7  1.4  Iris-versicolor
51  6.4  3.2  4.5  1.5  Iris-versicolor
52  6.9  3.1  4.9  1.5  Iris-versicolor
53  5.5  2.3  4.0  1.3  Iris-versicolor
54  6.5  2.8  4.6  1.5  Iris-versicolor
55  5.7  2.8  4.5  1.3  Iris-versicolor
56  6.3  3.3  4.7  1.6  Iris-versicolor
57  4.9  2.4  3.3  1.0  Iris-versicolor
58  6.6  2.9  4.6  1.3  Iris-versicolor
59  5.2  2.7  3.9  1.4  Iris-versicolor n
shape: (10, 5)
     c1   c2   c3   c4               c5
60  5.0  2.0  3.5  1.0  Iris-versicolor
61  5.9  3.0  4.2  1.5  Iris-versicolor
62  6.0  2.2  4.0  1.0  Iris-versicolor
63  6.1  2.9  4.7  1.4  Iris-versicolor
64  5.6  2.9  3.6  1.3  Iris-versicolor
65  6.7  3.1  4.4  1.4  Iris-versicolor
66  5.6  3.0  4.5  1.5  Iris-versicolor
67  5.8  2.7  4.1  1.0  Iris-versicolor
68  6.2  2.2  4.5  1.5  Iris-versicolor
69  5.6  2.5  3.9  1.1  Iris-versicolor n
shape: (10, 5)
     c1   c2   c3   c4               c5
70  5.9  3.2  4.8  1.8  Iris-versicolor
71  6.1  2.8  4.0  1.3  Iris-versicolor
72  6.3  2.5  4.9  1.5  Iris-versicolor
73  6.1  2.8  4.7  1.2  Iris-versicolor
74  6.4  2.9  4.3  1.3  Iris-versicolor
75  6.6  3.0  4.4  1.4  Iris-versicolor
76  6.8  2.8  4.8  1.4  Iris-versicolor
77  6.7  3.0  5.0  1.7  Iris-versicolor
78  6.0  2.9  4.5  1.5  Iris-versicolor
79  5.7  2.6  3.5  1.0  Iris-versicolor n
shape: (10, 5)
     c1   c2   c3   c4               c5
80  5.5  2.4  3.8  1.1  Iris-versicolor
81  5.5  2.4  3.7  1.0  Iris-versicolor
82  5.8  2.7  3.9  1.2  Iris-versicolor
83  6.0  2.7  5.1  1.6  Iris-versicolor
84  5.4  3.0  4.5  1.5  Iris-versicolor
85  6.0  3.4  4.5  1.6  Iris-versicolor
86  6.7  3.1  4.7  1.5  Iris-versicolor
87  6.3  2.3  4.4  1.3  Iris-versicolor
88  5.6  3.0  4.1  1.3  Iris-versicolor
89  5.5  2.5  4.0  1.3  Iris-versicolor n
shape: (10, 5)
     c1   c2   c3   c4               c5
90  5.5  2.6  4.4  1.2  Iris-versicolor
91  6.1  3.0  4.6  1.4  Iris-versicolor
92  5.8  2.6  4.0  1.2  Iris-versicolor
93  5.0  2.3  3.3  1.0  Iris-versicolor
94  5.6  2.7  4.2  1.3  Iris-versicolor
95  5.7  3.0  4.2  1.2  Iris-versicolor
96  5.7  2.9  4.2  1.3  Iris-versicolor
97  6.2  2.9  4.3  1.3  Iris-versicolor
98  5.1  2.5  3.0  1.1  Iris-versicolor
99  5.7  2.8  4.1  1.3  Iris-versicolor n
shape: (10, 5)
      c1   c2   c3   c4              c5
100  6.3  3.3  6.0  2.5  Iris-virginica
101  5.8  2.7  5.1  1.9  Iris-virginica
102  7.1  3.0  5.9  2.1  Iris-virginica
103  6.3  2.9  5.6  1.8  Iris-virginica
104  6.5  3.0  5.8  2.2  Iris-virginica
105  7.6  3.0  6.6  2.1  Iris-virginica
106  4.9  2.5  4.5  1.7  Iris-virginica
107  7.3  2.9  6.3  1.8  Iris-virginica
108  6.7  2.5  5.8  1.8  Iris-virginica
109  7.2  3.6  6.1  2.5  Iris-virginica n
shape: (10, 5)
      c1   c2   c3   c4              c5
110  6.5  3.2  5.1  2.0  Iris-virginica
111  6.4  2.7  5.3  1.9  Iris-virginica
112  6.8  3.0  5.5  2.1  Iris-virginica
113  5.7  2.5  5.0  2.0  Iris-virginica
114  5.8  2.8  5.1  2.4  Iris-virginica
115  6.4  3.2  5.3  2.3  Iris-virginica
116  6.5  3.0  5.5  1.8  Iris-virginica
117  7.7  3.8  6.7  2.2  Iris-virginica
118  7.7  2.6  6.9  2.3  Iris-virginica
119  6.0  2.2  5.0  1.5  Iris-virginica n
shape: (10, 5)
      c1   c2   c3   c4              c5
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica n
shape: (10, 5)
      c1   c2   c3   c4              c5
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica n
shape: (10, 5)
      c1   c2   c3   c4              c5
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica n

In [16]:
# Get dataset iterator
iris_iterator = pd.read_csv(iris_filename,header=None,names=['c1','c2','c3','c4','c5'],iterator=True)
iris_iterator.get_chunk(10).shape

(10, 5)

In [17]:
iris_iterator.get_chunk(5).shape

(5, 5)

In [18]:
piece = iris_iterator.get_chunk(3)
piece

     c1   c2   c3   c4           c5
15  5.7  4.4  1.5  0.4  Iris-setosa
16  5.4  3.9  1.3  0.4  Iris-setosa
17  5.1  3.5  1.4  0.3  Iris-setosa