# Data loading and preprocessing with pandas

## Fast and easy data loading

In [2]:
import pandas as pd

In [3]:
iris_filename ='../../data/datasets-uci-iris.csv'
iris = pd.read_csv(iris_filename,sep=',',header=None,decimal='.',
                   names=['sepal_length','sepal_width','petal_length','petal_width','target'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# get the last 5 
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
# print the name of the columns
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [6]:
# The result of column is pandas index
# get a single column values
iris['target']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: target, Length: 150, dtype: object

In [7]:
# or multiple column values
iris[['sepal_length','sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [8]:
# get the data shape (data dimensions)
iris.shape

(150, 5)

In [9]:
iris['target'].shape

(150,)

In [10]:
iris[['sepal_length','sepal_width']].shape

(150, 2)

# Dealing with problematic data.

In [11]:
# What happens when CSV has a header and some missing values and dates
fake_dataset = pd.read_csv('../../data/a_loading_example_1.csv')
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,20140910,80.0,32.0,40,1
1,20140911,100.0,50.0,36,2
2,20140912,102.0,55.0,46,1
3,20140912,60.0,20.0,35,3
4,20140914,60.0,NaN,32,3
5,20140914,NaN,57.0,42,2

In [12]:
# Autodetect date columns and load it correctly
fake_dataset = pd.read_csv('../../data/a_loading_example_1.csv',parse_dates=[0])
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,NaN,32,3
5,2014-09-14,NaN,57.0,42,2

In [13]:
# Fill missing values with a number let's say  50
# in real data this value must be realistic.
fake_dataset.fillna(50)

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,50.0,32,3
5,2014-09-14,50.0,57.0,42,2

In [14]:
# Replace with mean for the data.
# axis= 0 means row wise
# axis =1 means column wise
fake_dataset.fillna(fake_dataset.mean(axis=0),inplace=True)
fake_dataset

,Date,Temperature_city_1,Temperature_city_2,Temperature_city_3,Which_destination
0,2014-09-10,80.0,32.0,40,1
1,2014-09-11,100.0,50.0,36,2
2,2014-09-12,102.0,55.0,46,1
3,2014-09-12,60.0,20.0,35,3
4,2014-09-14,60.0,42.8,32,3
5,2014-09-14,80.4,57.0,42,2

In [15]:
# Loading bad dataset, ignore the bad data
bad_dataset = pd.read_csv('../../data/a_loading_example_2.csv',error_bad_lines=False)
bad_dataset

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

# Dealing with big datasets